h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 0%;
    font-weight: 700;
    background-color: rgb(245, 243, 213);
     border-bottom: 2px solid #080909;
     border-top: 2px solid #080909;
     padding: 8px;
}

h2 {
    text-align: center;
    font-size: 40px;
    box-shadow: 0 0 5px #02352c;
    background-color: rgb(120, 190, 172);
    display: inline-block;
}

h3 {
    display: inline-block;
    text-align: center;
    padding-bottom: 5px;
    font-size: 40px;
    box-shadow: 0 0 5px #02352c;
    background-color: rgb(243, 211, 231);
    padding: 8px;
}

p {
    font-size: 35px;
    text-align: center;
    max-width: 900px;
    margin: auto;
    border-bottom: 2px solid #f6f6f6;
    padding-bottom: 5px;
    padding: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(91, 89, 89);
    color: white;
    text-align: center;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px;
    object-fit: cover;
}

main ul {
    list-style-type: none;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 5px;
}

main li {
    padding: 20px;
    box-shadow: 0 0 5px #02352c;
    flex-basis: 200px;
    margin-top: 20px;
    margin-left: 600px;
    margin-right: 600px;
}

body {
    background-image: url("nezuko.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;

}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    margin-left: auto;
    display: flex;
    list-style: none;
    gap: 10px;
}

main {
    text-align: center;

}
