h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

p {
    font-size: 20px;
    text-align: center;
    max-width: 500px;
    margin: auto;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    flex-grow: 1;
}

footer {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px;
    object-fit: cover;
}

ul {
    /* list-style-type: none; */
    padding-left: none;
    /* background-color: #d8c3c3; */
    border: #c67979;
    border-radius: 0px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

li {
  background-color: rgb(221, 236, 233);   
  border: 1px solid #0e0000;    
  border-radius: 10px;       
  padding: 20px;             
  box-shadow: 0 0 10px #02352c; 
}
